* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-color: #f7f7f7;
    background-image: url(./img/cenario-poluicao.gif);
    background-repeat: no-repeat, repeat;
    background-size:cover;

}    

.menu {
    width: 100%;
    height: 75px;
    background-color: #ff0;
}

